# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables file
.env

# Database files
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# IDE and editor files
.vscode/
